.container{
    background: rgba(48,48,53,0.77);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form{
    padding: 20px;
    border-radius: 16px;
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 16px;
}